@media (max-width: 1150px) {
  .header__nav {
    padding-top: 50px;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #e3eeed;
    z-index: 999;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .header__nav--active {
    transition: 200ms ease-in-out all;
    -webkit-transition: 200ms ease-in-out all;
    -moz-transition: 200ms ease-in-out all;
    -ms-transition: 200ms ease-in-out all;
    -o-transition: 200ms ease-in-out all;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .header__list {
    flex-direction: column;
    align-items: center;
  }
  .header__link {
    font-size: 30px;
  }
  .header__button-wrp {
    margin: 0 50px 0 0;
  }
  .header__burger {
    display: block;
  }
  .hero__features {
    bottom: -25px;
    right: 0;
  }
  .why {
    padding: 120px 0;
  }
}
@media (max-width: 1024px) {
  .hero .container {
    padding-bottom: 350px;
  }
  .hero__features {
    padding: 50px;
    bottom: -50px;
    left: 0;
    right: 0;
    gap: 30px;
  }
  .hero__features-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .why {
    padding-top: 165px;
  }
  .why .container {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  .brings {
    background-image: linear-gradient(90deg, rgb(227, 238, 237), rgb(227, 238, 237) 100%);
  }
  .brings__wrp-titles {
    width: 100%;
  }
  .brings__item-title {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  .brings__item-title::after {
    content: url(../img/arrow-down.svg);
    display: block;
    width: 22px;
    margin-left: auto;
    transition: 200ms ease-in-out all;
    -webkit-transition: 200ms ease-in-out all;
    -moz-transition: 200ms ease-in-out all;
    -ms-transition: 200ms ease-in-out all;
    -o-transition: 200ms ease-in-out all;
  }
  .brings__item-title--active::after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  .brings__item-txt-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .brings__wrp-txt {
    display: none;
  }
  .plan__desc {
    flex-direction: column-reverse;
    align-items: center;
  }
  .plan__desc-inner-wrp {
    margin-top: 30px;
    align-self: center;
    width: 100%;
  }
  .claims {
    padding: 0;
  }
  .claims .container {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }
  .claims__desc {
    text-align: center;
  }
  .claims__video-btns {
    justify-content: center;
  }
  .claims__img {
    height: auto;
  }
  .employers {
    background-position: left;
  }
  .backed__slide {
    padding: 0 20px;
  }
  .footer__menu {
    border-bottom: 1px solid white;
    padding-bottom: 25px;
  }
  .footer__top {
    padding-bottom: 25px;
    flex-direction: column;
    gap: 0;
  }
  .footer__contact {
    padding-top: 25px;
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .page-title {
    font-size: 24px;
    line-height: 35px;
  }
  .header {
    padding: 20px 0;
  }
  .header__logo {
    grid-area: logo;
  }
  .header__button-wrp {
    margin-right: 25px;
  }
  .header__login {
    margin: 0 35px 0 25px;
  }
  .hero {
    padding: 180px 0 0 0;
  }
  .hero__drop-menu {
    max-width: 300px;
  }
  .hero__drop-menu-btn {
    font-size: 12px;
  }
  .hero__features {
    bottom: -450px;
    flex-direction: column;
  }
  .hero .container {
    padding-bottom: 200px;
  }
  .plan__stat-list {
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
    justify-items: center;
  }
  .why {
    padding-top: 550px;
    padding-bottom: 80px;
  }
  .brings {
    padding: 80px 0;
  }
  .backed {
    padding: 80px 0;
  }
  .backed__title {
    margin-bottom: 60px;
  }
  .blog {
    padding: 80px 0;
  }
  .blog__link {
    text-align: center;
  }
  .cta .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
  }
  .cta__desc {
    max-width: 100%;
    padding: 80px 30px;
    align-items: center;
    text-align: center;
  }
  .footer__terms-wrp {
    margin-top: 40px;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .footer__contact {
    min-width: 100%;
  }
  .footer__form {
    max-width: 70%;
  }
}
@media (max-width: 514px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__button-wrp {
    display: none;
  }
  .header__button-wrp--active {
    display: flex;
    z-index: 1000;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .hero {
    padding-top: 150px;
  }
  .hero .container {
    padding-bottom: 250px;
  }
  .hero__inner-wrp {
    padding-bottom: 400px;
  }
  .hero__button {
    padding: 15px 14px;
  }
  .why__chart-desc {
    max-width: 120px;
  }
  .why__chart-txt {
    font-size: 10px;
  }
  .why__chart-stat {
    font-size: 50px;
    margin-bottom: 70px;
  }
  .why__hr {
    width: 240%;
    top: 50%;
  }
  .why__bar-name {
    font-size: 7px;
  }
  .why__bars {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .why__bars-srs {
    font-size: 9px;
  }
  .why__bar-wrp {
    width: 37px;
  }
  .why__bar-name {
    font-size: 9px;
  }
  .brings__item-title {
    font-size: 20px;
  }
  .plan {
    padding: 80px 0;
  }
  .employers {
    padding: 80px 0;
  }
  .blog__slide {
    padding: 0;
  }
  .blog__title {
    font-size: 20px;
  }
  .cta__subtitle {
    margin: 20px 0;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__menu {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .footer__form {
    max-width: 100%;
  }
}
@media (max-width: 375px) {
  .hero__features {
    padding: 50px 15px;
  }
  .hero__features-txt {
    font-size: 11px;
  }
  .why__hr {
    width: 200%;
  }
  .brings__item-title {
    font-size: 18px;
  }
  .claims__video-hide--active {
    margin-left: 50px;
  }
  .footer__terms-wrp {
    flex-direction: column;
    gap: 15px;
  }
}/*# sourceMappingURL=media.css.map */