@import "./variables";

@media (max-width: 1150px) {
    .header {
        &__nav {
            padding-top: 50px;
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $white-turq;
            z-index: 999;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            &--active {
                transition: 200ms ease-in-out all;
                -webkit-transition: 200ms ease-in-out all;
                -moz-transition: 200ms ease-in-out all;
                -ms-transition: 200ms ease-in-out all;
                -o-transition: 200ms ease-in-out all;
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                -ms-transform: translateX(0%);
                -o-transform: translateX(0%);
            }
        }
        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__link {
            font-size: 30px;
        }

        &__button-wrp {
            margin: 0 50px 0 0;
        }

        &__burger {
            display: block;
        }
    }

    .hero {
        &__features {
            bottom: -25px;
            right: 0;
        }
    }

    .why {
        padding: 120px 0;
    }
}

@media (max-width: 1024px) {
    .hero {
        .container {
            padding-bottom: 350px;
        }
        &__features {
            padding: 50px;
            bottom: -50px;
            left: 0;
            right: 0;
            gap: 30px;
        }

        &__features-item {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .why {
        padding-top: 165px;
        .container {
            flex-direction: column;
            gap: 50px;
            align-items: center;
            text-align: center;
        }
    }

    .brings {
        background-image: linear-gradient(90deg, rgb(227, 238, 237), rgb(227, 238, 237) 100%);
        &__wrp-titles {
            width: 100%;
        }
        &__item-title {
            padding-top: 20px;
            padding-bottom: 20px;
            gap: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
            &::after {
                content: url(../img/arrow-down.svg);
                display: block;
                width: 22px;
                margin-left: auto;
                transition: 200ms ease-in-out all;
                -webkit-transition: 200ms ease-in-out all;
                -moz-transition: 200ms ease-in-out all;
                -ms-transition: 200ms ease-in-out all;
                -o-transition: 200ms ease-in-out all;
            }
            &--active {
                &::after {
                    transform: rotate(-180deg);
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                }
            }
        }
        &__item-txt-mobile {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__wrp-txt {
            display: none;
        }
    }

    .plan {
        &__desc {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__desc-inner-wrp {
            margin-top: 30px;
            align-self: center;
            width: 100%;
        }
    }

    .claims {
        padding: 0;
        .container {
            flex-direction: column-reverse;
            gap: 50px;
            align-items: center;
        }
        &__desc {
            text-align: center;
        }

        &__video-btns {
            justify-content: center;
        }

        &__img {
            height: auto;
        }
    }

    .employers {
        background-position: left;
    }

    .backed {
        &__slide {
            padding: 0 20px;
        }
    }

    .footer {
        &__menu {
            border-bottom: 1px solid white;
            padding-bottom: 25px;
        }
        &__top {
            padding-bottom: 25px;
            flex-direction: column;
            gap: 0;
        }
        &__contact {
            padding-top: 25px;
            max-width: 60%;
        }
    }
}

@media (max-width: 768px) {
    .page-title {
        font-size: 24px;
        line-height: 35px;
    }
    .header {
        padding: 20px 0;
        &__logo {
            grid-area: logo;
        }

        &__button-wrp {
            margin-right: 25px;
        }
        &__login {
            margin: 0 35px 0 25px;
        }
    }
    .hero {
        padding: 180px 0 0 0;

        &__drop-menu {
            max-width: 300px;
        }

        &__drop-menu-btn {
            font-size: 12px;
        }

        &__features {
            bottom: -450px;
            flex-direction: column;
        }
        .container {
            padding-bottom: 200px;
        }
    }
    .plan {
        &__stat-list {
            grid-template-columns: 1fr 1fr;
            gap: 50px 20px;
            justify-items: center;
        }
    }

    .why {
        padding-top: 550px;
        padding-bottom: 80px;
    }

    .brings {
        padding: 80px 0;
    }

    .backed {
        padding: 80px 0;
        &__title {
            margin-bottom: 60px;
        }
    }

    .blog {
        padding: 80px 0;
        &__link {
            text-align: center;
        }
    }

    .cta {
        .container {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            gap: 0;
        }
        &__desc {
            max-width: 100%;
            padding: 80px 30px;
            align-items: center;
            text-align: center;
        }
    }

    .footer {
        &__terms-wrp {
            margin-top: 40px;
            gap: 20px;
            flex-direction: column-reverse;
        }
        &__contact {
            min-width: 100%;
        }

        &__form {
            max-width: 70%;
        }
    }
}

@media (max-width: 514px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .header {
        &__button-wrp {
            display: none;
            &--active {
                display: flex;
                z-index: 1000;
                position: absolute;
                top: 550px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
            }
        }
    }
    .hero {
        .container {
            padding-bottom: 250px;
        }
        padding-top: 150px;
        &__inner-wrp {
            padding-bottom: 400px;
        }
        &__button {
            padding: 15px 14px;
        }
    }
    .why {
        &__chart-desc {
            max-width: 120px;
        }

        &__chart-txt {
            font-size: 10px;
        }

        &__chart-stat {
            font-size: 50px;
            margin-bottom: 70px;
        }
        &__hr {
            width: 240%;
            top: 50%;
        }
        &__bar-name {
            font-size: 7px;
        }
        &__bars {
            column-gap: 10px;
        }
        &__bars-srs {
            font-size: 9px;
        }
        &__bar-wrp {
            width: 37px;
        }
        &__bar-name {
            font-size: 9px;
        }
    }
    .brings {
        &__item-title {
            font-size: 20px;
        }
    }
    .plan {
        padding: 80px 0;
    }

    .employers {
        padding: 80px 0;
    }

    .blog {
        &__slide {
            padding: 0;
        }
        &__title {
            font-size: 20px;
        }
    }

    .cta {
        &__subtitle {
            margin: 20px 0;
        }
    }

    .footer {
        padding-top: 60px;
        &__logo {
            width: 100%;
        }
        &__menu {
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }
        &__form {
            max-width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .hero {
        &__features {
            padding: 50px 15px;
        }

        &__features-txt {
            font-size: 11px;
        }
    }

    .why {
        &__hr {
            width: 200%;
        }
    }

    .brings {
        &__item-title {
            font-size: 18px;
        }
    }

    .claims {
        &__video-hide {
            &--active {
                margin-left: 50px;
            }
        }
    }

    .footer {
        &__terms-wrp {
            flex-direction: column;
            gap: 15px;
        }
    }
}
