@import "./variables";

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 30px;
}

.page-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: $turquoise;
}

.page-subtitle {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: $turquoise2;
}

.page-link {
    display: inline-block;
    padding-bottom: 10px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02px;
    color: $turquoise;
    border-bottom: 1px solid $turquoise;
    transition: 200ms ease-in-out;
    &:hover {
        color: $yellow;
        border-bottom: 1px solid $yellow;
    }
}

.page-button {
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
    background: #43806c;
    border-radius: 6px;
    transition: 200ms ease-in-out;
    &:hover {
        background-color: $yellow;
    }
}

.header {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px 0;
    background-color: $white;
    z-index: 100;
    transition: 400ms ease-in-out all;
    -webkit-transition: 400ms ease-in-out all;
    -moz-transition: 400ms ease-in-out all;
    -ms-transition: 400ms ease-in-out all;
    -o-transition: 400ms ease-in-out all;
    &--active {
        position: fixed;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    }

    .container {
        display: flex;
        align-items: center;
        max-width: $max-width;
    }

    &__logo {
        display: block;
        margin-right: auto;
    }
    &__nav {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        gap: 50px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: $turquoise;
    }

    &__burger {
        display: none;
        width: 35px;
        height: 26px;
        z-index: 1000;
        position: relative;
        cursor: pointer;
        &--active {
            .header__burger-line {
                &:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%) rotate(405deg);
                    -webkit-transform: translateY(-50%) rotate(405deg);
                    -moz-transform: translateY(-50%) rotate(405deg);
                    -ms-transform: translateY(-50%) rotate(405deg);
                    -o-transform: translateY(-50%) rotate(405deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    bottom: 50%;
                    transform: translateY(50%) rotate(-405deg);
                    -webkit-transform: translateY(50%) rotate(-405deg);
                    -moz-transform: translateY(50%) rotate(-405deg);
                    -ms-transform: translateY(50%) rotate(-405deg);
                    -o-transform: translateY(50%) rotate(-405deg);
                }
            }
        }
    }

    &__burger-line {
        width: 100%;
        height: 2px;
        background-color: $turquoise;
        position: absolute;
        transition: 400ms ease-in-out all;
        -webkit-transition: 400ms ease-in-out all;
        -moz-transition: 400ms ease-in-out all;
        -ms-transition: 400ms ease-in-out all;
        -o-transition: 400ms ease-in-out all;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
        &:nth-child(3) {
            bottom: 0;
        }
    }

    &__item {
        transition: 200ms ease-in-out;
        &:hover {
            color: $yellow;
        }
    }

    &__button-wrp {
        margin-left: 70px;
        display: flex;
    }

    &__login {
        margin-left: 30px;
        margin-right: 45px;
        font-weight: 700;
        font-size: 14px;
        color: $turquoise;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid $turquoise;
            border-right: 2px solid $turquoise;
            transform: rotate(135deg);
            position: absolute;
            top: 15px;
            right: -19px;
        }
    }

    &__lang {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: $turquoise;
    }
}

.hero {
    padding: 200px 40px 0 40px;
    background-image: url(../img/hero-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        position: relative;
        padding-bottom: 280px;
    }

    &__title {
        max-width: 516px;
        margin-bottom: 40px;
    }

    &__txt {
        display: block;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $turquoise;
    }

    &__drop-menu {
        max-width: 387px;
        position: relative;
        z-index: 50;
    }
    &__drop-menu-btns {
        display: flex;
    }

    &__drop-menu-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
        width: 100%;
        height: 60px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: $black;
        background: $white;
        &::after {
            content: url("../img/arrow-down.svg");
            width: 10px;
            transition: 200ms ease-in-out all;
            -webkit-transition: 200ms ease-in-out all;
            -moz-transition: 200ms ease-in-out all;
            -ms-transition: 200ms ease-in-out all;
            -o-transition: 200ms ease-in-out all;
        }
        &--active {
            &::after {
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
            }
        }
    }

    &__button {
        width: 120px;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        color: $white;
        background: $turquoise2;
        transition: 200ms ease-in-out;
        &:hover {
            background-color: #f0a446;
        }
    }
    &__drop-menu-list {
        position: absolute;
    }
    &__drop-menu-item {
        display: block;
        opacity: 0;
        padding-left: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: $black;
        background: $white;
        max-height: 0;
        will-change: max-height;
        overflow: hidden;
        box-sizing: content-box;
        transition: 300ms ease-in-out all;
        -webkit-transition: 300ms ease-in-out all;
        -moz-transition: 300ms ease-in-out all;
        -ms-transition: 300ms ease-in-out all;
        -o-transition: 300ms ease-in-out all;
        &:hover {
            color: $yellow;
        }
        &--active {
            background-color: $white-turq;
            opacity: 1;
            padding: 20px;
            border-top: 1px solid #43806c42;
        }
    }

    &__features {
        padding: 50px;
        display: flex;
        gap: 16px;
        background: $white;
        border-radius: 6px;
        position: absolute;
        bottom: -75px;
        left: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }

    &__features-item {
        display: flex;
        gap: 22px;
    }

    &__features-img {
        width: auto;
        height: 45px;
    }

    &__features-title {
        margin-bottom: 7px;
        font-size: 16px;
        line-height: 24px;
        color: $turquoise;
    }

    &__features-txt {
        font-size: 14px;
        line-height: 20px;
        color: $turquoise;
    }
}

.why {
    padding: 213px 0 157px 0;
    .container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__desc {
        max-width: 510px;
    }

    &__title {
        margin: 20px 0 34px 0;
    }

    &__txt {
        margin-bottom: 24px;
        line-height: 30px;
        letter-spacing: 0.02px;
    }

    &__chart {
        display: flex;
    }

    &__chart-desc {
        align-self: center;
        max-width: 255px;
        position: relative;
    }

    &__hr {
        width: 200%;
        height: 2px;
        background: $yellow;
        position: absolute;
        top: 60%;
        left: 0;
    }

    &__chart-stat {
        font-family: "Roboto";
        display: block;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 70px;
        line-height: 90px;
        color: $turquoise;
    }

    &__chart-txt {
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.02px;
        color: $turquoise;
        &_underline {
            text-decoration-line: underline;
        }
    }

    &__bars {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 235px;
    }

    &__bar-sum {
        opacity: 0;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        color: $turquoise;
        &--active {
            opacity: 1;
            transition: 1000ms ease-in-out all;
            -webkit-transition: 1000ms ease-in-out all;
            -moz-transition: 1000ms ease-in-out all;
            -ms-transition: 1000ms ease-in-out all;
            -o-transition: 1000ms ease-in-out all;
        }
    }

    &__bar-wrp {
        display: flex;
        align-items: self-end;
        width: 78px;
    }

    &__bar-wrp-1 {
        height: 150px;
    }

    &__bar {
        width: 100%;
        height: 0%;
        background: $turquoise2;
        &--active {
            height: 100%;
            transition: 1000ms ease-in-out all;
            -webkit-transition: 1000ms ease-in-out all;
            -moz-transition: 1000ms ease-in-out all;
            -ms-transition: 1000ms ease-in-out all;
            -o-transition: 1000ms ease-in-out all;
        }
    }

    &__bar-name {
        margin-top: 20px;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        color: $turquoise;
    }

    &__bar-wrp-2 {
        height: 300px;
    }

    &__bars-srs {
        margin-top: 10px;
        font-size: 13px;
        line-height: 22px;
    }
}

.brings {
    padding: 120px 50px;
    background-image: linear-gradient(
        90deg,
        rgb(227, 238, 237),
        rgb(227, 238, 237) 50%,
        rgb(33, 78, 65) 50%,
        rgb(33, 78, 65)
    );

    .container {
        display: flex;
    }
    &__wrp-titles {
        width: 50%;
    }

    &__list-titles {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    &__item-title {
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 10px;
        font-family: "Roboto";
        font-size: 32px;
        line-height: 42px;
        color: $turquoise2;
        transition: 300ms;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -ms-transition: 300ms;
        -o-transition: 300ms;
        cursor: pointer;
        &:hover {
            color: $turquoise;
        }
        &--active {
            font-weight: 700;
            color: $turquoise;
            &::after {
                content: url("../img/arrow.svg");
                margin-left: 10px;
            }
        }
    }

    &__item-txt-mobile {
        display: none;
        max-height: 0px;
        padding-left: 75px;
        opacity: 0;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.02px;
        color: $turquoise2;
        overflow: hidden;
        will-change: max-height;
        -webkit-transition: all ease-out 200ms;
        -o-transition: all ease-out 200ms;
        transition: all ease-out 200ms;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
        -moz-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        -o-transform: translateY(-30%);
        &--active {
            padding: 20px 0px 40px 20px;
            opacity: 1;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
        }
    }

    &__wrp-txt {
        width: 50%;
        padding: 40px 0 0 115px;
    }

    &__item-txt {
        display: none;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.02px;
        color: $white;
        &--active {
            display: flex;
            flex-direction: column;
            gap: 34px;
            animation: transition-opacity 400ms ease-in-out;
            -webkit-animation: transition-opacity 400ms ease-in-out;
        }
    }
}

.plan {
    padding: 120px 0;
    &__desc {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__desc-inner-wrp {
        max-width: 551px;
    }
    &__subtitle {
        margin-bottom: 20px;
        font-weight: 700;
        color: $turquoise2;
    }

    &__txt {
        margin-top: 34px;
        line-height: 30px;
        letter-spacing: 0.02px;
    }

    &__img {
        width: 560px;
    }
    &__stat-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        margin-top: 102px;
    }
    &__stat-item {
        max-width: 263px;
    }
    &__stat-value {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        color: $yellow;
    }
    &__stat-txt {
        margin-top: 13px;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.02px;
        color: $turquoise;
    }
}

.claims {
    padding-top: 120px;

    .container {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    &__desc {
        max-width: 545px;
    }
    &__subtitle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.05px;
        color: $turquoise2;
    }
    &__txt {
        margin: 34px 0 26px 0;
        line-height: 30px;
        letter-spacing: 0.02 px;
    }
    &__video {
        width: 100%;
        max-height: 0;
        will-change: max-height;
        opacity: 0;
        transition: 400ms ease-in-out;
        -webkit-transition: 400ms ease-in-out;
        -moz-transition: 400ms ease-in-out;
        -ms-transition: 400ms ease-in-out;
        -o-transition: 400ms ease-in-out;
        &--active {
            padding: 30px 0;
            max-height: 1000px;
            opacity: 1;
        }
    }

    &__video-btns {
        position: relative;
        display: flex;
    }

    &__video-hide {
        position: absolute;
        z-index: -1;
        margin-left: 0px;
        transition: 400ms;
        -webkit-transition: 400ms;
        -moz-transition: 400ms;
        -ms-transition: 400ms;
        -o-transition: 400ms;
        opacity: 0;
        &--active {
            position: relative;
            z-index: 0;
            margin-left: 100px;
            opacity: 1;
        }
    }
}

.employers {
    background-image: url(../img/employers-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    &__subtitle {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.05px;
        color: $turquoise2;
    }

    &__title {
        max-width: 391px;
    }

    &__txt {
        margin: 34px 0 26px 0;
        max-width: 491px;
        line-height: 30px;
        letter-spacing: 0.02px;
    }
}

.backed {
    padding: 120px 0;
    &__title {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 110px;
    }
    &__slider-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow {
        flex-shrink: 0.3;
        width: 30px;
        height: 23px;
    }
    &__slider {
        max-width: 1130px;
        overflow-x: hidden;
    }
    &__slider-line {
        transition: 400ms ease-in-out all;
        -webkit-transition: 400ms ease-in-out all;
        -moz-transition: 400ms ease-in-out all;
        -ms-transition: 400ms ease-in-out all;
        -o-transition: 400ms ease-in-out all;
        display: flex;
    }
    &__arrow-prev {
        transform: rotate(180deg);
    }
    &__slide {
        padding: 0 40px;
        display: flex;
        justify-content: center;
    }
}

.blog {
    padding: 120px 0;
    border-top: 1px solid rgba(199, 199, 199, 0.37);

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    &__slider {
        width: 100%;
        overflow-x: hidden;
    }
    &__slider-line {
        display: flex;
        transition: 400ms ease-in-out all;
        -webkit-transition: 400ms ease-in-out all;
        -moz-transition: 400ms ease-in-out all;
        -ms-transition: 400ms ease-in-out all;
        -o-transition: 400ms ease-in-out all;
    }
    &__arrow-prev {
        transform: rotate(180deg);
    }
    &__slide {
        padding: 0 40px;
        text-align: center;
        cursor: pointer;
        &:hover .blog__img,
        &:hover .blog__subtitle,
        &:hover .blog__title {
            transition: 200ms ease-in-out all;
            -webkit-transition: 200ms ease-in-out all;
            -moz-transition: 200ms ease-in-out all;
            -ms-transition: 200ms ease-in-out all;
            -o-transition: 200ms ease-in-out all;
            filter: brightness(105%);
            -webkit-filter: brightness(105%);
        }
    }

    &__img {
        height: auto;
        width: 100%;
    }

    &__subtitle {
        margin: 21px 0 15px 0;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.05px;
        text-transform: uppercase;
        color: $turquoise2;
    }

    &__title {
        font-size: 20px;
        line-height: 26px;
    }
}

.cta {
    background-color: $white-turq;
    .container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        max-width: 1500px;
    }

    &__wrp-img {
        img {
            object-fit: cover;
            height: 100%;
        }
    }

    &__desc {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 600px;
        z-index: 2;
    }
    &__subtitle {
        margin: 46px 0 60px 0;
    }

    &__link {
        padding: 13px 30px;
    }
}

.footer {
    padding: 100px 0 50px 0;
    background: $turquoise;
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 71px;
        border-bottom: 1px solid $white;
    }
    &__menu {
        display: flex;
        gap: 115px;
    }
    &__logo {
        margin-right: -10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: $white;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__top-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02px;
        text-transform: uppercase;
        color: $white;
    }
    &__link {
        font-size: 16px;
        line-height: 27px;
        color: $white;
        transition: 200ms ease-in-out;
        -webkit-transition: 200ms ease-in-out;
        -moz-transition: 200ms ease-in-out;
        -ms-transition: 200ms ease-in-out;
        -o-transition: 200ms ease-in-out;
        &:hover {
            color: $yellow;
        }
    }
    &__social-wrp {
        max-width: 356px;
    }
    &__social-txt {
        margin: 19px 0 16px 0;
    }
    &__txt {
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.02px;
        color: $white;
        &_margin {
            margin: 20px 0 24px 0;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        border: 1px solid $white;
    }
    &__email {
        display: block;
        padding: 22px 0 6px 21px;
        background: transparent;
        border-style: none;
        outline: none;
        font-family: "raleway", arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02px;
        color: #ffffff;
        text-transform: capitalize;
        &::placeholder {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02px;
            outline: none;
            color: $white;
        }
    }
    &__submit {
        display: block;
        width: 53px;
        height: 54px;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: $white;
        &:hover {
            background-color: $yellow;
            transition: 200ms ease-in-out all;
            -webkit-transition: 200ms ease-in-out all;
            -moz-transition: 200ms ease-in-out all;
            -ms-transition: 200ms ease-in-out all;
            -o-transition: 200ms ease-in-out all;
        }
    }
    &__social {
        margin-top: 34px;
        display: flex;
        gap: 25px;
    }
    &__bottom {
        padding-top: 70px;
    }
    &__terms-wrp {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        position: relative;
    }
    &__terms {
        display: flex;
        gap: 10px;
    }
    &__terms-span {
        &_padding-right {
            padding-right: 10px;
            border-right: 1px solid $white;
        }
    }
}
